

<p><%=@letters%></p>
<center>
  <form action="/score">
    <label for="question">What is your longest word?</label>
    <input type="text" id="question" name="user_longest_word" placeholder="what time is it?">
    <input type="hidden" name= "grid" value="<%=@letters.join('')%>">
    <input type="hidden" name= "start_time" value="<%=Time.now%>">
    <input type="submit" value="Go on!">
  </form>
</center>
